@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-size: 12px;
    font-weight: 700;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


body{
    width: 100%;
}


/* feature */

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
border: 1px solid gray;
border-radius: 10px;
}

#feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box h4{
    color: rgb(199, 13, 245);
    display: inline-block;
}

#feature .fe-box{
    display: inline-block;
}
#feature .fe-box button{
    font-size: 1.2rem;
    font-weight: 500;
}
#feature .fe-box img{
    width: 100%;
    height: auto;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    display: block;
    margin-bottom: 5px;
}
#feature .fe-box img:hover{
    transform: scale(1.5);
    align-items: center;

}
#feature .fe-box h4:hover{
    border-radius: 20px;
    background-color: rgba(3, 237, 245, 0.938);
    color: black;
}
/* modal */

#feature .fe-box .modal-header .close{
    padding: 5px 8px;
}
#feature .fe-box .modal-header .modal-title{
    font-size: medium;
}
#feature .fe-box .modal-dialog{
    height: 50%;
    width: auto;
    
}
/* About page */


#about-head {
    display: flex;
    align-items: center;   
}
#about-head img{
    width: 50%;
    height: auto;
    border: 1px solid royalblue;
    border-radius: 10px;
}
#about-head p{
    color: #404441;
}
#about-head div{
    padding-left: 20px;
}
 /* video` */
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 30px auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{     /* srv link eka khali ek anayla use kela ha css*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #404441;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #635c63;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    cursor: pointer;
    padding-right: 4px;
    color: #635c63;
}
footer .install .row img{
    border: 1px solid gray ;
    border-radius: 10px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #f5f4f5;
    background-color: #0d9e20;
    padding: 5px 5px;
    transition: 0.5s;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
footer .copyright p{
    color: red;

}




@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }

    /* About page */
#about-head {
    flex-direction: column;
}
#about-head img {
    width: 100%;
    margin-bottom: 20px;    
}
#about-head div {
    padding-left: 0;
}
#about-app .video {
    width: 100%;
}

#feature .fe-box {
    width: 180px;
    margin-top: 10px;
    text-align: center;
border: 1px solid gray;
border-radius: 10px;
}
}



